@using ToDoListManagement.Entity.ViewModel
@model ToDoListManagement.Entity.ViewModel.ProjectViewModel

@{
    DateTime? minDate = Model.StartDate;
    DateTime? maxDate = Model.EndDate;

    string minDateStr = minDate.HasValue ? minDate.Value.ToString("yyyy-MM-dd") : string.Empty;
    string maxDateStr = maxDate.HasValue ? maxDate.Value.ToString("yyyy-MM-dd") : string.Empty;
}

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <form id="editProjectForm" asp-controller="Project" asp-action="UpdateProject" method="post">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Project
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="editProjectId" asp-for="ProjectId" />
                <div class="form-floating mb-3">
                    <input asp-for="ProjectName" type="text" class="form-control" id="editProjectName"
                        placeholder="Name">
                    <label for="categoryname">Name*</label>
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" id="pMAssignedTo" asp-for="AssignedToProgramManager" aria-label="Assigned To">
                        @foreach (UserViewModel? pm in Model.ProjectManagers)
                        {
                            if (pm.Name != Model.PMName)
                            {
                                <option value="@pm.UserId">@pm.Name</option>
                            }
                            else
                            {
                                <option value="@pm.UserId" selected>@pm.Name</option>
                            }
                        }
                    </select>
                    <label for="pMAssignedTo">Assigned PM*</label>
                    <span asp-validation-for="AssignedToProgramManager" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" id="pMAssignedTo" asp-for="AssignedToScrumMaster" aria-label="Assigned To">
                        @foreach (UserViewModel? sm in Model.ScrumMasters)
                        {
                            if (sm.UserId != Model.AssignedToScrumMaster)
                            {
                                <option value="@sm.UserId">@sm.Name</option>
                            }
                            else
                            {
                                <option value="@sm.UserId" selected>@sm.Name</option>
                            }
                        }
                    </select>
                    <label for="pMAssignedTo">Assigned SM*</label>
                    <span asp-validation-for="AssignedToScrumMaster" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input type="date" class="form-control dateFilter" id="editProjectStartDate" asp-for="StartDate" min="@minDateStr"
                        placeholder="Start Date">
                    <label for="floatingInput">Start Date*</label>
                    <span class="text-danger" asp-validation-for="StartDate" id="toDateValidation"></span>
                </div>

                <div class="form-floating mb-3">
                    <input type="date" class="form-control dateFilter" id="editProjectDueDate" asp-for="EndDate" min="@minDateStr" 
                        placeholder="dueDate">
                    <label for="floatingInput">Due Date*</label>
                    <span class="text-danger" asp-validation-for="EndDate" id="toDateValidation"></span>
                </div>

                <div class="form-floating mb-3">
                    <textarea asp-for="Description" class="form-control" id="editProjectDescription"
                        placeholder="Description"></textarea>
                    <label for="addCategoryDescription">Description</label>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center px-0">
                <button type="submit" class="btn navbar-color text-white btn-secondary">Save</button>
                <button type="button" class="btn cancel-btn-color ms-1 btn-outline-secondary"
                    data-bs-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>