@using ToDoListManagement.Entity.ViewModel
@model ToDoListManagement.Entity.ViewModel.TaskViewModel

@{
    DateTime baselineDate = DateTime.Today;

    DateTime minDate = Model.ProjectStartDate;
    DateTime maxDate = Model.ProjectEndDate;

    string minDateStr = minDate.ToString("yyyy-MM-dd");
    string maxDateStr = maxDate.ToString("yyyy-MM-dd");
}

<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <form id="editTaskForm" method="post"
            enctype="multipart/form-data">
            <input type="hidden" value="@Model.ProjectId" asp-for="ProjectId">
            <input type="hidden" asp-for="TaskId" />
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Task
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="Title" type="text" class="form-control" id="addTitle" placeholder="Name">
                            <label for="categoryname">Title*</label>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="priority" asp-for="Priority" aria-label="Priority">
                                <option value="" selected>Select a Priority</option>
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>
                            </select>
                            <label for="priority">Priority*</label>
                            <span asp-validation-for="Priority" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3 form-group">
                            <select class="form-select select2" id="assignedTo" asp-for="AssignedTo"
                                asp-items="@(Model.TeamMembers.Select(u => new SelectListItem { Value = u.UserId.ToString(), Text = u.Name }))"
                                aria-label="Assigned To">
                                <option value="">Select a Team Member</option>
                            </select>

                            <label for="assignedTo">Assigned To*</label>
                            <span asp-validation-for="AssignedTo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select " id="sprintDropDown" asp-for="SprintId" aria-label="Sprint">
                                <option value="">Backlog</option>
                                @foreach (SprintViewModel? sprint in Model.Sprints)
                                {
                                    @if(Model.SprintId == sprint.SprintId)
                                    {
                                        <option value="@sprint.SprintId" selected>@sprint.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@sprint.SprintId">@sprint.Name</option>
                                    }
                                }
                            </select>
                            <label class="fs-6" for="sprintDropDown">Sprint</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control dateFilter" id="editTaskStartDate" asp-for="CreatedOn" placeholder="Start Date" disabled>
                            <label for="floatingInput">Start Date</label>
                            <span class="text-danger" asp-validation-for="CreatedOn" id="toDateValidation"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control dateFilter" id="editTaskDueDate" asp-for="DueDate" placeholder="dueDate" disabled>
                            <label for="floatingInput">Due Date</label>
                            <span class="text-danger" asp-validation-for="DueDate" id="toDateValidation"></span>
                        </div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control" id="editTaskDescription" placeholder="Description"
                        asp-for="Description" style="height: 90px;">
                    </textarea>
                </div>

                <div class="d-flex align-items-center justify-content-center  w-100 p-0"
                    style="height: 90px !important;" id="editTaskUpload">
                    <button type="button"
                        class="btn border w-100 h-100 d-flex flex-column align-items-center justify-content-center bg-white"
                        onclick="openEditTaskInputFile()">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                        <span id="BrowseFileSpan">Browse file</span>
                    </button>
                    <input id="editTaskInputFile" asp-for="TaskDetails" accept="image/*,.pdf,.doc,.docx,.xls,.xlsx,.txt"
                        class="d-none" type="file" multiple>
                </div>

                <div id="editTaskFileNamesList" style="flex-wrap: wrap;" class="mt-2 d-flex"></div>

                @if (Model.TaskAttachments != null && Model.TaskAttachments.Any())
                {
                    <div class="mt-3">
                        <table class="table table-bordered table-sm">
                            <thead class="table-light">
                                <tr>
                                    <th>File</th>
                                    <th style="width: 40px;">Download</th>
                                    <th style="width: 40px;">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.TaskAttachments.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <i class="fa-solid fa-file me-2"></i> @Model.TaskAttachments[i].FileName
                                            <input type="hidden" asp-for="TaskAttachments[@i].TaskAttachmentId" />
                                            <input type="hidden" asp-for="TaskAttachments[@i].FileName" />
                                            <input type="hidden" asp-for="TaskAttachments[@i].FilePath" />
                                        </td>
                                        <td class="text-center">
                                            <a
                                                href="@Url.Action("DownloadFile", "Tasks", new { taskAttachmentId = Model.TaskAttachments[i].TaskAttachmentId })">
                                                <i class="fa-solid fa-download text-primary"></i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" asp-for="TaskAttachments[@i].IsDeleted" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="modal-footer d-flex justify-content-center px-0">
                <button type="submit" class="btn navbar-color text-white btn-secondary">Save</button>
                <button type="button" class="btn ms-1 btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>
