@using ToDoListManagement.Entity.ViewModel
@model List<ToDoListManagement.Entity.ViewModel.PermissionViewModel>

@{
    ViewData["Title"] = "Permissions";
}

<div class="container-fluid  mt-2 ">
    <div class="d-flex justify-content-between my-4 ">
        <h2>Permissions</h2>
    </div>

    <div class="form-floating w-25 mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
            value="@Model.First().RoleName" disabled>
        <label for="floatingInput">Role Name</label>
    </div>

    <form asp-controller="RoleAndPermission" asp-action="UpdatePermissions" method="post">
        <div class="permission_table table-responsive">
            <table class="table table-sm table-bordered align-middle">
                <tr>
                    <th class="fw-bold d-flex align-items-center justify-content-center">
                        <input class="form-check-input " type="checkbox" id="selectAll">
                    </th>
                    <th class="fw-bold">Permission</th>
                    <th class="fw-bold">
                        <div class="d-flex justify-content-center">Can View</div>
                    </th>
                    <th class="fw-bold">
                        <div class="d-flex justify-content-center">Can Add/Edit</div>
                    </th>
                    <th class="fw-bold">
                        <div class="d-flex justify-content-center">Can Delete</div>
                    </th>
                </tr>

                @for (int i = 0; i < Model.Count; i++)
                {
                    <input type="hidden" value="@Model[@i].PermissionId" asp-for="@Model[i].PermissionId" >
                    <input type="hidden" value="@Model[@i].RoleId" asp-for="@Model[i].RoleId" >
                    <tr>
                        <td scope="col" class="">
                            <div class="form-check d-flex align-items-center justify-content-center">
                                <input class="form-check-input row-checkbox"
                                    type="checkbox" />
                            </div>
                        </td>
                        <td>@Model[i].PermissionName</td>
                        <td>
                            <div class="form-check form-switch d-flex justify-content-center">
                                <input type="checkbox" class="form-check-input custom-switch" asp-for="@Model[i].CanView"
                                    data-type="CanView" style="height: 20px !important;" />
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-switch d-flex justify-content-center">
                                <input type="checkbox" class="form-check-input custom-switch" asp-for="@Model[i].CanAddEdit"
                                    data-type="CanAddEdit" style="height: 20px !important;" />
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-switch d-flex justify-content-center">
                                <input type="checkbox" class="form-check-input custom-switch" asp-for="@Model[i].CanDelete"
                                    data-type="CanDelete" style="height: 20px !important;" />
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="create_cancel_btn mt-3 mb-3 d-flex justify-content-end ">
            <button id="saveBtn" type="submit" class="btn text-white btn-secondary me-2">Save</button>
            <a class="btn btn-outline-secondary" asp-controller="RoleAndPermission" asp-action="Roles">Cancel</a>
        </div>
    </form>
</div>

<script src="~/js/PermissionsView.js"></script>