@using Microsoft.AspNetCore.Mvc.Rendering
@using System.Text.Json
@using System.Security.Claims
@using ToDoListManagement.Entity.ViewModel
@using static ToDoListManagement.Service.Helper.CustomAuthorize
@{
  UserViewModel? user = ViewBag.SessionUser as ToDoListManagement.Entity.ViewModel.UserViewModel;
  Claim? permissionsClaim = User.Claims.FirstOrDefault(c => c.Type == "Permissions");

  List<PermissionClaim> permissions = new List<PermissionClaim>();
  if (permissionsClaim != null)
  {
    permissions = JsonSerializer.Deserialize<List<PermissionClaim>>(permissionsClaim?.Value ?? "[]") ?? new
    List<PermissionClaim>();
  }

  Func<string, bool> hasPermissionToView = (permissionName) =>
  {
    PermissionClaim? permission = permissions.FirstOrDefault(p => p.PermissionName == permissionName);
    return permission != null && permission.CanView;
  };
}

<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>@ViewData["Title"]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="~/images/ToDoLogo.png">
  <meta name="title" content="AdminLTE 4 | Fixed Sidebar" />
  <meta name="author" content="ColorlibHQ" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.10.1/styles/overlayscrollbars.min.css"
    integrity="sha256-tZHrRjVqNSRyWg2wbppGnT833E/Ys0DHWGwT04GiqQg=" crossorigin="anonymous" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="~/css/adminlte.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

  <script src="https://cdn.tiny.cloud/1/ldg6ynw66ccn0bxrwl7em3tp3rytyx7kd8jkvnefizwlz9ty/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js"></script>
  <script src="~/js/site.js"></script>

</head>

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
  <partial name="_Toaster" />
  <div class="app-wrapper">
    <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="btn-dark">
      <div class="sidebar-brand">
        <div class="brand-link">
          <img class="" width="35" src="~/images/ToDoLogo.png">
          <span class="brand-text fw-light">ToDo List Management</span>
        </div>
      </div>
      <div class="sidebar-wrapper">
        <nav class="mt-2">
          <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
            @if (hasPermissionToView("Projects"))
            {
              <li class="nav-item sidebar_btn" data-id="/dashboard">
                <a asp-controller="Dashboard" asp-action="Index" class="nav-link">
                  <i class="nav-icon fa-solid fa-table-list"></i>
                  <p>
                    Projects
                  </p>
                </a>
              </li>
            }
            @if (hasPermissionToView("Employees"))
            {
              <li class="nav-item sidebar_btn menu-open" data-id="/employee">
                <a asp-controller="Employee" asp-action="Index" class="nav-link text-center">
                  <i class="nav-icon fa-solid fa-users"></i>
                  <p>
                    Employees
                  </p>
                </a>
              </li>
            }
            @if (hasPermissionToView("Task Board"))
            {

              <li class="nav-item sidebar_btn" data-id="/tasks">
                <a asp-controller="Tasks" asp-action="Index" class="nav-link">
                  <i class="nav-icon fa-solid fa-clipboard"></i>
                  <p>
                    Task Board
                  </p>
                </a>
              </li>
            }
            @if (hasPermissionToView("Role And Permissions"))
            {
              <li class="nav-item sidebar_btn" data-id="/roleAndPermission">
                <a asp-controller="RoleAndPermission" asp-action="Roles" class="nav-link">
                  <i class="nav-icon fa-solid fa-user-gear"></i>
                  <p>
                    Roles And Permissions
                  </p>
                </a>
              </li>
            }
          </ul>
        </nav>
      </div>
    </aside>
    <main class="app-main">
      <nav class="app-header navbar navbar-expand bg-body">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " data-lte-toggle="sidebar" href="#" role="button">
                <i class="bi bi-list"></i>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link " href="#" data-lte-toggle="fullscreen">
                <i data-lte-icon="maximize" class="bi bi-arrows-fullscreen"></i>
                <i data-lte-icon="minimize" class="bi bi-fullscreen-exit" style="display: none"></i>
              </a>
            </li>
            <li>
              @if (user?.Name != null)
              {
              <li class="nav-item dropdown user-menu">
                <a href="#" class="nav-link d-flex dropdown-toggle" data-bs-toggle="dropdown">
                  <div class="list-inline-item rounded-circle text-bg-warning d-flex justify-content-center align-items-center" style="width: 25px;">
                    @user.Name.ToString().Substring(0, 1).ToUpper()
                  </div>
                  <span class="d-none d-md-inline">@user.Name</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                  <li class="user-header text-bg-secondary" style="min-height: 75px !important;">
                    <p>
                      @user.Name
                    </p>
                  </li>
                  <li class="user-footer">
                    <a asp-controller="Profile" asp-action="Index" class="btn btn-default btn-flat border-secondary">
                      <i class="fa-solid fa-user"></i>
                      Profile
                    </a>
                    <button data-bs-toggle="modal" data-bs-target="#logoutModal"
                      class="btn btn-default btn-flat float-end border-secondary">
                      <i class="bi bi-box-arrow-right"></i> Logout
                    </button>
                  </li>
                </ul>
              </li>
            }
            </li>
          </ul>
        </div>
      </nav>
      @RenderBody()
    </main>
  </div>

  <!-- Logout Modal  -->
  <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center custom-modal-size">
      <div class="modal-content ">
        <div class="modal-header border-none">
          <h5 class="modal-title text-center" id="exampleModalLabel">Logout Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center d-flex align-items-center justify-content-center flex-column">
          <div class="d-flex align-items-center justify-content-center">
            <img src="~/images/toppng.com-warning-icon-2400x2400.png"
              style="height: 100px !important; width: 100px; !important"></img>
          </div>
          <div>Are you sure you want to Logout?</div>
        </div>
        <div class="modal-footer border-none pt-0 d-flex justify-content-center">
          <div class="mt-3">
            <a asp-controller="Auth" asp-action="Logout" class="btn btn-dark btn-flat">Yes</a>
            <button type="button" class="btn custom-blue-border bg-white border-dark custom-blue-color ms-1"
              data-bs-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.10.1/browser/overlayscrollbars.browser.es6.min.js"
    integrity="sha256-dghWARbRe2eLlIJ56wNB+b760ywulqK3DzZYEpsg2fQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
  <script src="~/js/adminlte.js"></script>

  <script>
    $(document).ready(function () {
      var path = window.location.pathname.toLowerCase();

      $('.sidebar_btn').each(function () {
        var target = $(this).data('id')?.toLowerCase();

        if (path.startsWith(target)) {
          $(this).addClass('menu-open');
        } else {
          $(this).removeClass('menu-open');
        }
      });
    });
  </script>

</body>

</html>